.sidenav-container {
    height: 100%;

    .sidenav {
        width: 200px;

        .nav-list {
            .nav-list-item {
                .mat-list-item {
                    border-left: 5px solid transparent;
                }

                &.active > .mat-list-item {
                    background-color: #ddd;
                    border-color: #3f51b5;
                    transition: border .5s ease-in-out;
                }

                &.sub-item {
                    .mat-list-item-content {
                        padding-left: 25px;
                    }
                }
            }
        }

        .mat-toolbar {
            background: inherit;
        }

        &.mat-primary {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}
