<h1>Explorer</h1>

<div>{{ currentPath.join('/') }}</div>

<button (click)="navigateBack()">..</button>

<h2>Folders</h2>

<div *ngIf="content$ | async as content">
    <ul>
        <li *ngFor="let folder of content.folders">
            <button *ngIf="folder.removedInFs" (click)="handleRemovedFolder(folder)">!</button>
            <button *ngIf="folder.addedInFs" (click)="handleUntrackedFolder(folder)">?</button>
            <span (click)="openFolder(folder)">{{ folder.name }}</span>
        </li>
    </ul>

    <h2>Images</h2>
    <ul>
        <li *ngFor="let image of content.images">
            <button *ngIf="image.removedInFs" (click)="handleRemovedImage(image)">!</button>
            <button *ngIf="image.addedInFs" (click)="handleUntrackedImage(image)">?</button>
            <img width="100" [src]=sanitize(image.absolutePath) />
            <span>{{ image.name }}.{{ image.extension }}</span>
        </li>
    </ul>
</div>