<form [formGroup]="imageEditForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Beschreibung</mat-label>
    <textarea matInput formControlName="description" placeholder="Beschreibung"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Ort</mat-label>
    <input type="text" matInput formControlName="place">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Datum" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
        {{fruit}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input formControlName="tags" placeholder="Tags" #fruitInput [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <p>
    <button type="submit" mat-raised-button color="primary">Speichern</button>
  </p>
</form>