form.image-edit-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;

    mat-form-field {
        padding: 10px;
    }

    .form-action-container {
        padding: 10px;
        margin-left: auto;
    }
}