<h1>Playground</h1>

<mat-card>
  <mat-card-title>Image Management Tool</mat-card-title>
  <mat-card-subtitle>Version: {{applicationVersion}}</mat-card-subtitle>
  <mat-card-content>
    {{greetings}}
  </mat-card-content>
</mat-card>

<button mat-raised-button color="primary" (click)="testDialog('notification')">Notification</button>
<button mat-raised-button color="primary" (click)="testDialog('error')">Error</button>
<button mat-raised-button color="primary" (click)="testDialog('yesno')">YesNo</button>
<button mat-raised-button color="primary" (click)="testDialog('save')">Save</button>

<button mat-raised-button color="primary" (click)="openFolderDialog()">Durchsuchen...</button>
<br/>
Toleranz:
<mat-slider thumbLabel [max]="100" [min]="0" [step]="1" [(ngModel)]="fuzzValue" style="width: 500px;"></mat-slider>
<span>{{ fuzzValue }}%</span>
<br/>
<button mat-raised-button color="primary" (click)="openFileDialog()"><mat-icon>crop</mat-icon> Bilder schneiden</button>
<br/>
<br/>

<div *ngIf="croppedImagePaths$ | async as croppedImagePaths">
  <span *ngFor="let path of croppedImagePaths">
    <img width="100" [src]="path | safeUrl"/>
  </span>
</div>
<div *ngIf="croppedImagesLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<span #contextMenuTrigger [matMenuTriggerFor]="contextMenu" class="context-menu-trigger" [style.left.px]="menuLeft" [style.top.px]="menuTop"></span>
<div (contextmenu)="openContextMenu($event)">right click on me!</div>
<mat-menu #contextMenu="matMenu"> 
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-raised-button color="accent" (click)="showSuccess()">Success</button>

<div>Foo is {{foo$ | async}}</div>
<button mat-raised-button (click)="onAppendClick()">append</button>

<br/>

<mat-form-field>
  <input matInput type="color" placeholder="Farbe" value="#00ff00">
</mat-form-field>

<mat-form-field>
  <input matInput type="number" placeholder="Nummer" value="42">
</mat-form-field>