<h1>Explorer</h1>

<div *ngIf="currentPath$ | async as currentPath">{{ currentPath.join('/') }}</div>

<button (click)="navigateBack()">..</button>

<div *ngIf="folders$ | async as folders">
    <h2>Folders</h2>
    <ul>
        <li *ngFor="let folder of folders">
            <button *ngIf="folder.removedInFs" (click)="handleRemovedFolder(folder)">!</button>
            <button *ngIf="folder.addedInFs" (click)="handleUntrackedFolder(folder)">+</button>
            <span (click)="!folder.removedInFs && openFolder(folder)">{{ folder.name }}</span>
        </li>
    </ul>
</div>
<div *ngIf="images$ | async as images">
    <h2>Images</h2>
    <ul>
        <li *ngFor="let image of images">
            <button *ngIf="image.removedInFs" (click)="handleRemovedImage(image)">!</button>
            <button *ngIf="image.addedInFs" (click)="handleUntrackedImage(image)">+</button>
            <span *ngIf="!image.removedInFs && !image.addedInFs else imageThumbnailWithName" [routerLink]="['../image', image.id]">
                <ng-container *ngTemplateOutlet="imageThumbnailWithName"></ng-container>
            </span>

            <ng-template #imageThumbnailWithName>
                <img width="100" [src]="image.absolutePath | safeUrl" />
                <span>{{ image.name }}.{{ image.extension }}</span>
            </ng-template>
        </li>
    </ul>
</div>